<div class="container">
  <%= form_with(model: album, local: true) do |form| %>
    <% if album.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

        <ul>
        <% album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :album_title %>
    </div>

    <div class="field">
      <%= form.hidden_field(:admin_id, :value => current_admin.id)  %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.text_field :image, id: :image_upload %>
      <form action="/action_page.php" accept="image/gif,image/jpeg">
        Your image: <input type="file" name="pic" id="pic"><br>
        <input type="submit" value="Submit">
      </form>
      <form action="/action_page.php">
        <input type="file" name="pic" accept="image/*">
        <input type="submit">
      </form>
    </div>

    <div class="field">
      <%= form.label :album %>
      <%= form.hidden_field(:album_id, :value => current_album.id) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
