<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Caption</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.text %></td>
        <td><%= photo.image %></td>

        <% if current_admin %>
          <td><%= link_to 'Show', photo %></td>
          <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
          <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <% @photos.each do |photo| %>
      <div class='col-lg-4'>
          <%= link_to photo_path(photo) do  %>
        <div class="card mt-2 mb-2">

          <%= image_tag(photo.photo.url(:medium), class: "card-img-top") %>

          <div class="card-body">
            <h4 class="card-title"><%= photo.title %></h4>
            <p class="card-text"><%= photo.text %></p>
          </div>
        </div>
        <% end %>
      </div>
  <% end %>
</div>

<br>
<% if current_admin %>
  <%= link_to 'New Photo', new_photo_path %>
<% end %>
