<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio - 1 9 8 2 -</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/silverfox.png" width="60" alt="Logo of a geometric fox head." ></img>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav> -->

    <div class="row">
      <div class="headerlogo">
        <div class="col-md-1">
          <%= link_to(image_tag("silverfox.png", width: '60'), root_path) %>
        </div>
      </div>
      <div class="header">
        <div class="col-md-11">
          <div class="center">
            <div class="navtext">
              <h6 class="dropdown">ABOUT |
                <div class="dropdown-content">
                  <p><a href="indexabout.html" style="color: white;">background</a></p>
                  <p><a href="indexabout.html" style="color: white;">interests</a></p>
                  <p><a href="indexabout.html" style="color: white;">hobbies</a></p>
                  <p><a href="indexabout.html" style="color: white;">skillz</a></p>
                </div>
              </h6>
              <h6 class="dropdown">PORTFOLIO |
                <div class="dropdown-content">
                  <p><a href="indexportfolio.html" style="color: white;">projects</a></p>
                  <p><a href="indexportfolio.html" style="color: white;">resume</a></p>
                  <p><a href="indexportfolio.html" style="color: white;">education</a></p>
                </div>
              </h6>
              <h6 class="dropdown"><a href="https://lifenewandimproved.blogspot.com/" target="_blank" style="color: white;">BLOG</a> |
              </h6>
              <h6 class="dropdown">PHOTOGRAPHY |
                <div class="dropdown-content">
                  <p><a href="indexphotography.html" style="color: white;">peace corps</a></p>
                  <p><a href="indexphotography.html" style="color: white;">antarctica</a></p>
                  <p><a href="indexphotography.html" style="color: white;">life</a></p>
                  <p><a href="indexphotography.html" style="color: white;">lifestyle model</a></p>
                </div>
              </h6>
              <h6 class="dropdown">CONTACT
                <div class="dropdown-content">
                  <p><a href="mailto:mikealphabravo1982@gmail.com" style="color: white;">email me</a></p>
                  <p><a href="tel:7204324672" style="color: white;">phone me</a></p>
                  <p><a href="https://www.linkedin.com/in/michaelallenbrooks/" target="_blank" style="color: white;">linkedin</a></p>
                </div>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg">
      <%= yield %>
    </div>

    <div class="container4">
      <div class="footer">
        <% if current_admin %>
        <%= current_admin.email %>
        <%= link_to 'log out', destroy_admin_session_path, method: :delete %>
        <% else %>
        <%= link_to 'admin', new_admin_session_path %>
        <% end %>
        <p id="left">Orange you glad I didn't say banana?</p>
      </div>
    </div>

  </body>
</html>
